body{
    margin:1px;
    width: 100%;
    height: 1300px;
    background-color:rgb(255, 255, 255);
    display:block;
   
    
}

.main{
    min-height: 1100px;
    
    width: 100%;
    
}
#header{
/*     background-image: url("./image-from-rawpixel-id-2044837.jpg"); */
    background-repeat: no-repeat ;
    background-size:100%;
    line-height:40px;
    width:100%;
    height:70px;
    padding-bottom: 40px;
}
#brand{
    margin:0%;
    padding-bottom:10px;
    width:40%;
    float: left;
    height:70px;
    text-align: left;

    line-height:70px;
}

#h1{
    font-family: 'Permanent Marker', cursive;
    color:rgb(44, 36, 36);
    font-size: 50px;
    margin-left: 60px;

    

}

.inp{
    width:35%;
    height: 25px;
    border:1px solid rgb(27, 26, 26);
    border-radius: 5px;
    background-color: rgb(65, 60, 60);

 }
 
 #nav{
     word-spacing: 10px;
     float: right;
     text-align: right;
     width:60%;
     line-height:120px; 
     height:50px;

 }


.sidebar1{
    float:left;
    width: 70%;
    min-height: 1000px;
    display: block;
    bottom:20%;
    background:url('Stuck at Home - Online Shopping.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 65%;
    background-color:rgb(255, 255, 255);
}
#main{
    
    margin: 30px 20px 20px 30px;
    width: 52%;
    min-height: 400px;
    border:1.5px solid rgba(54, 21, 54, 0.3);
    border-radius:25%;
    border-top-left-radius: 10px;
    
    border-bottom-right-radius: 1%; 
    border-bottom-left-radius: 15%; 
    -moz-box-shadow: 10px 10px 16px rgba(46, 41, 73, 0.8);
    -webkit-box-shadow: 10px 10px 16px rgba(46, 41, 73, 0.8);
    box-shadow: 10px 10px 16px rgba(39, 37, 54, 0.8);
     
    background-color: rgba(29, 19, 22, 0.992);
    
    background-repeat:no-repeat;

}
#main2{
    
    margin: 0px 0px 0px 30px;
    width: 62%;
    height: 550px;
    border:1.5px solid rgba(54, 21, 54, 0.3);
    /* border-radius:25%;
    border-top-left-radius: 10px;
    
    border-bottom-right-radius: 1%; 
    border-bottom-left-radius: 15%;  */
    -moz-box-shadow: 10px 10px 16px rgba(46, 41, 73, 0.7);
    -webkit-box-shadow: 10px 10px 16px rgba(46, 41, 73, 0.7);
    box-shadow: 10px 10px 16px rgba(46, 41, 73, 0.7);
    background-color: rgba(255, 255, 255, 0.897);
    
    background-repeat:no-repeat;

}

#cont{
    font-family: 'Caveat', cursive;
    color:rgb(212, 181, 181);
    font-size: 55px ;
    margin-left: 50px;
    margin-bottom: 0;
    letter-spacing: 0px;
}
#contnew{
    font-family:Tahoma;
    color:rgb(10, 7, 7);
    font-size: 15px ;
    margin-left: 40px;
    margin-top:0px;
    margin-bottom: 0px;
    

}
.p{
    font-family: 'Maven Pro', sans-serif;
    color:rgb(209, 209, 209);
    font-size: 25px ;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 50px;
    /* font-style: italic;
    font-weight: bold; */

}

.images1{
    
    float:left;
    width: 25%;
    min-height: 180px;
    margin-left: 50px;
    
    margin-top: 20px;
    opacity: 0.7;
}

.images2{
    
    float:right;
    width: 25%;
    min-height: 180px;
    margin-left: 10px;
    margin-right: 100px;
    margin-top: 30px;
    opacity: 0.7;
    
}

.images1 img
{
  max-width: 100%;
  max-height: 100%;
  /* border: 4px solid rgba(15, 11, 5, 0.6); */
  /* border-radius: 70%; */
  
 
}

.images2 img
{
  max-width: 100%;
  max-height: 100%;
  /* border: 4px solid rgba(15, 11, 5, 0.6); */
  /* border-radius: 70%; */
 
}
.sidebar2{
    float:right;
    width: 30%;
    height: 1000px;
    background-color:black;
    height: 100%;
    margin-top:1.5px;
    margin-bottom:0px;
    border-radius: 15px;
    
}
.s1{
    
    height:300px;
    margin-top:20px;
}
.s2{
    
    height:300px;
    margin-top:20px;
}
.s3{
    
    height:300px;
    margin-top:20px;
}
#cont2{
    font-family: 'Lato', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 45px ;
    margin-left: 120px;
    margin-bottom: 0;
    
}
#cont3{
    font-family: 'Lato', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 22px ;
    margin-left: 120px;
    margin-top: 9px;
    opacity:0.7;
    letter-spacing: 0.5px;

    margin-bottom: 0px;
    
}
.imj{
    min-height: 180px;
    margin-left: 40px;
    margin-right:0px;
    margin-top: 20px;
    width:91%;

}
.vid{
    min-height: 180px;
    margin-left: 40px;
    margin-right:10px;
    margin-top: 20px;
    width:85%;

}
hr{
    opacity:0.2;
    width:75%;
}

.images3{
    
    width: 100%;
    height: 400px;
    margin:0px;
   
    

}
.images3 img
{
  max-width: 30%;
  max-height: 55%;
  margin-right: 55px;
  margin-left:11px;
  margin-top:20px;
  /* border: 4px solid rgba(15, 11, 5, 0.6); */
  /* border-radius: 70%; */
 
}



.name{
    height:200px;
    width:100%;

    

}
.decr{
    height:25px;
}

.d1{
    font-size: 20px;
    margin:10px 55px 10px 40px;

}
.d2{
    font-size: 15px;
    margin:10px 42px 10px 44px;

}
.d3{
    display:inline;
    font-size: 15.2px;
    margin:10px 78px 10px 48px;
    height:70px;
    width:50px;
    color:rgb(39, 35, 35);
    border:1.5px solid rgb(182, 179, 20);
    background-color: rgba(228, 224, 33, 0.903);

}
.contact{
    height:250px;
    

}

.sub{
    height:100px;
    text-align:center;

}
.button{
    width:65%;
    height:50%;
    margin-top:20px;
    border:1px solid grey;
    border-radius: 10px;
}
.order{
    margin-top:7px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 25px;
    color:rgba(17, 14, 14,0.75)
}

.footer{
    background-color:rgba(172, 172, 180, 0.7);
    height: 200px;
    margin-top:40px;
    

}
#footer1{
    text-align: center;
    width:100%;
    padding-top:20px;
    
}

#footer2{
    text-align: center;
    color:rgb(17, 1, 1);
    margin-top:20px;
    font-weight: bold;

}
#footer3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-style: normal;
    font-size:13px;
    color:rgb(24, 21, 16);

}

a{
            
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
    color:rgb(25, 19, 34);
    margin-right: 55px;
    font-weight: bold;
    opacity: 0.7;
    font-size: 25px;
}
.f2{
    
    margin-bottom:20px;
    margin-right:50px;
    margin-left:50px;
    opacity: 0.7;
}
